<!DOCTYPE html>
<html>
<head>
	<title>CHEAT HUB</title>
	<link  type="text/css" rel="stylesheet" href="/css/estilo.css"/>
</head>
<body>
<h1>CHEATHUB</h1>
	<hr>
	<a href="/" class="inicio">Volver Inicio</a>
 <p>Mostrando {{fill}} {{videojuego}} </p>
 

<ul>
	{{#publicaciones}}
		{{titulo}}
		<!-- <form method='post' action = "/publicacion/{{idPublicacion}}">   -->
		<form action = "/publicacion/{{idPublicacion}}">  
		<button type="submit" name="boton" value="{{idPublicacion}}">Ir</button>
		</form>
	
	{{/publicaciones}}
</ul>
 

</body>
</html>