<!DOCTYPE html>
<html>
<head>
	<title>CHEAT HUB</title>
	<link  type="text/css" rel="stylesheet" href="/css/estilo.css"/>
	
</head>
<body>
	<h1>CHEATHUB</h1>
	<hr>
	<a href="/" class="inicio">Volver Inicio</a>
	 <p>Buscando en la categoría: {{fill}}</p>
	 <hr>
	 <p>
	 	
		<ul>
			{{#juegos}}
			<!-- <form method='post' action = "/juego/{{nombreVideojuego}}"><input type="submit" name= 'boton' value='{{nombreVideojuego}}'/> -->
			<form action = "/juego/{{nombreVideojuego}}"><input type="submit" name= 'boton' value='{{nombreVideojuego}}'/><br></form>
			{{/juegos}}
		</ul>
	 	
	
 
</body>
</html>