<!DOCTYPE html>
<html>

<head>
	<title>CHEAT HUB</title>
	<link  type="text/css" rel="stylesheet" href="css/estilo.css"/>
</head>

<body>
	
	<h1>CHEATHUB</h1>
	<hr>
	<a href="/" class="inicio">Volver Inicio</a>
	{{#notificacion}}
	<h5>{{notificacion}}</h5>
	{{/notificacion}}
	<form action = "user">
		<p> Usuario:</p>
		<input type = 'text' name = 'userName'/>
		<p> Contraseña:</p>
		<input type = 'password' name = 'password'/>
		<p> Fecha de Nacimiento:</p>
		<input id="date" type="date" name = 'birthdate'>
		<p> Nombre Real del Usuario:</p>
		<input type = 'text' name = 'realName'/>
		<p> Decripcion:</p>
		<input type = 'textArea' name = 'descryption'/>
		<p> Avatar:</p>
		<input type = 'url' name = 'url'/>
		
		<br>
		
		<input type = 'submit' name = 'boton' value='Crear Usuario'/>
	</form>
	<hr>
	
	

</body>
</html>