<!DOCTYPE html>
<html>

<head>
	<title>CHEAT HUB</title>
	<link  type="text/css" rel="stylesheet" href="/css/estilo.css"/>
</head>

<body>
	
	<h1>CHEATHUB</h1>
	<hr>
	<a href="/" class="inicio">Volver Inicio</a>
	{{#notificacion}}
	<h5>{{notificacion}}</h5>
	{{/notificacion}}
	<form action = "registerUser">
		<p> Usuario:</p>
		<input type = 'text' name = 'userName' placeholder="{{textoNombre}}"/>
		<p> Contraseña:</p>
		<input type = 'password' name = 'password' placeholder="Obligatorio"/>
		<p> Correo:</p>
		<input type = 'email' name = 'correo' placeholder="Obligatorio"/>
		<p> Fecha de Nacimiento:</p>
		<input id="date" type="date" name = 'birthdate'>
		<p> Nombre Real del Usuario:</p>
		<input type = 'text' name = 'realName'/>
		<p> Decripcion:</p>
		<input type = 'textArea' name = 'descryption'/>
		<p> Avatar:</p>
		<input type = 'url' name = 'url'/>
		
		<br>
		<button type="submit" name="boton" value="{{valorBoton}}">{{texto}}</button>
	</form>
	<hr>
	
	

</body>
</html>