<html>

<head>
	<title>CHEAT HUB</title>
</head>

<body>
	
	<h1>CHEATHUB</h1>
	<hr>
	
	<form action = "user">
		<p> Usuario:</p>
		<input type = 'text' name = 'userName'/>
		<p> Contraseña:</p>
		<input type = 'text' name = 'password'/>
		<p> Fecha de Nacimiento:</p>
		<input type = 'text' name = 'birthdate'/>
		<p> Nombre Real del Usuario:</p>
		<input type = 'text' name = 'RealName'/>
		<p> Decripcion:</p>
		<input type = 'textArea' name = 'descryption'/>
		<p> Avatar:</p>
		
		<br>
		
		<input type = 'submit' name = 'newUser' value='Crear Usuario'/>
	</form>
	<hr>
	
	

</body>
</html>