<!DOCTYPE html>
<html>

<head>
	<title>CHEAT HUB</title>
	<link  type="text/css" rel="stylesheet" href="/css/estilo.css"/>
</head>

<body>
	<!-- Vamos a mostrar un valor dependiendo de lbooleano de la variable indicada en Greeting Controller -->
	<!-- Caso en el que la variable es positiva, se indica con #, en este caso comprobaremos la variable hello -->
	
	<h1>CHEATHUB</h1>
	<hr>
	
	<p>Categorías
	</p>
	
	<p>
	
	<ul >
		
			{{#categorias}}
			<!-- <form  method='post' action = "/category/{{nombreCategoria}}" class="categoria"> -->
			<form  action = "/category/{{nombreCategoria}}" class="categoria">
				<button type="submit" name="boton" value="{{nombreCategoria}}">{{nombreCategoria}}</button>
			</form>
			{{/categorias}}
		
	</ul>
				
	</p>
	
	<hr>
	<form action = "search">
		<p> Buscar videojuego: </p>
		<select name="juego">
        	<option value=""></option>
        	<ul>
				{{#videojuegos}}
					<option value="{{nombreVideojuego}}">{{nombreVideojuego}}</option> 
				{{/videojuegos}}
			</ul>
		</select>
		<input type='checkbox' name='filtro' value='trucos'>Filtrar Trucos
		<input type='checkbox' name='filtro' value='bugs'>Filtrar Bugs
		<input type = 'submit' name = 'Buscar' value='Buscar'/>
	</form>
	<hr>
	<form action = "buscarUsuario">
		<p> Buscar usuarios: </p>
		<input type= 'text' name='texto' placeholder="Usuario a buscar">
		<input type = 'submit' name = 'Buscar' value='Buscar'/>
	</form>
	<hr>
	<p>
	{{#loggeado}}
		<form action = "login">
			<input type = 'submit' name = 'Loggin' value='Iniciar sesión'/>
		</form>
		<form action = "newAccount">
		<input type = 'submit' name = 'Loggin' value='Crear cuenta'/>
		
	</form>
	{{/loggeado}}
	{{^loggeado}}
	<form method='post' action = "logout">
		<input type ="hidden" name="_csrf" value={{token}} />
		<input type = 'submit' name = 'logout' value='Cerrar sesion'/>
	</form>
	
	<form method='get' action = "user/{{nombreUsuario}}">
		<input type = 'submit' name = 'Visitar perfil' value='Visitar perfil'/>
	</form>
	{{/loggeado}}
	
	</p>
	<form method='post' action = "nuevaPublicacion">
	    <input type ="hidden" name="_csrf" value={{token}} />
		<input type = 'submit' name = 'Nueva Publicación' value='Nueva publicacion'/>
	</form>
	
	
</body>
</html>