<html>

<head>
	<title>CHEAT HUB</title>
</head>

<body>
	<!-- Vamos a mostrar un valor dependiendo de lbooleano de la variable indicada en Greeting Controller -->
	<!-- Caso en el que la variable es positiva, se indica con #, en este caso comprobaremos la variable hello -->
	
	<h1>CHEATHUB</h1>
	<hr>
	<form action = "category">
		<p>Categorías
		
		</p>
		<p>	<input type="submit" name= 'boton' value="Shooter">
			<input type="submit" name= 'boton' value="Aventura">
			<input type="submit" name= 'boton' value="Simulador">
			<input type="submit" name= 'boton' value="Arcade">
			
		</p>
		
	</form>
	<hr>
	<form action = "search">
		<p> Buscar videojuego: </p>
		<input type = 'text' name = 'userName'/>
		<input type='checkbox' name='filtro' value='trucos'>Filtrar Trucos
		<input type='checkbox' name='filtro' value='bugs'>Filtrar Bugs
		<input type = 'submit' name = 'Buscar' value='Buscar'/>
	</form>
	<hr>
	
	<p>
	<form action = "login">
		<input type = 'submit' name = 'Loggin' value='Iniciar sesión'/>
	</form>
	<form action = "newAccount">
		<input type = 'submit' name = 'Loggin' value='Crear cuenta'/>
	</form>
	</p>
	<form action = "nuevaPublicacion">
		<input type = 'submit' name = 'Nueva Publicación' value='nueva'/>
	</form>
	
</body>
</html>