<html>
<body>

	<!-- Vamos a mostrar un valor dependiendo de lbooleano de la variable indicada en Greeting Controller -->
	<!-- Caso en el que la variable es positiva, se indica con #, en este caso comprobaremos la variable hello -->
	{{#hello}}
	<p>Hello</p>
	{{/hello}}
	
	<!-- En el caso de que sea negativo, se indica con ^ -->
	{{^hello}}
	<p>Good Bye</p>
	{{/hello}}
	
	<!-- Lo que va entre las llaver, es la etiqueta por la que se va a cambiar el texto que se indique en el fichero GreetingContoller.java -->
	<p>Hello {{name}}. </p>
</body>
</html>