<!DOCTYPE html>
<html>

<head>
	<title>CHEAT HUB</title>
	<link  type="text/css" rel="stylesheet" href="/css/estilo.css"/>
</head>

<body>
	
	<h1>CHEATHUB</h1>
	<hr>
	<a href="/" class="inicio">Volver Inicio</a>
	
	<form method='POST' action = "/login">
		<p> Introduzca su nombre o id:</p>
		<input type = 'text' name = 'userName'/>
		<p> Introduzca su contraseña:</p>
		<input type = 'password' name = 'password'/>
		<br>
		<input type ="hidden" name="_csrf" value={{token}} />
		
		<input type = 'submit' name = 'boton' value='Iniciar sesión'/>
	</form>
	<hr>
	
	<form action = "newAccount">
		<input type = 'submit' name = 'boton' value='Crear cuenta'/>
	</form>

</body>
</html>