<!DOCTYPE html>
<html>
<head>
	<title>CHEAT HUB</title>
	<link  type="text/css" rel="stylesheet" href="css/estilo.css"/>
</head>

<body>
	
	<h1>CHEATHUB</h1>
	<hr>
	<a href="/" class="inicio">Volver Inicio</a>
    <h2>{{titulo}}</h2>
    <h3>{{juego}}:</h3>
    <br>
    <h4>{{publicacion}}</h4>
    <br>
    <h4>Tipo:  {{tipo}}</h4>		
    <br>
    <h4>Publicado por: {{user}}</h4>
    <hr>
	<p>COMENTARIOS<p>
	<ul class="comentario">
			{{#comentarios}}
			<li class="usuarioComentario">{{usuario}} </li>
			<li class="contenidoComentario">{{.}} </li>
			{{/comentarios}}
		</ul>
	<br><br><br>
	<form action = "/nuevoComentario">
	<p> NUEVO COMENTARIO </p>
		<input type = 'text' name = 'contenido'/>
		
		<button type="submit" name="titulo" value="{{titulo}}">Subir comentario</button>
	</form>
	
</body>
</html>