<!DOCTYPE html>
<html>
<head>
	<title>CHEAT HUB</title>
	<link  type="text/css" rel="stylesheet" href="/css/estilo.css"/>
</head>

<body>
	
	<h1>CHEATHUB</h1>
	<hr>
	<a href="/" class="inicio">Volver Inicio</a>

	<form  action = "/newpublicacion">
		<p> TITULO </p>
		<input type = 'text' name = 'titulo' placeholder="Introduce título"/>
		<p> DESCRIPCIÓN </p>
		<textarea name="publicacion" rows="10" cols="40" placeholder="Describe tu publicación"></textarea>
		
		<p> TIPO PUBLICACIÓN </p>
		<p>
		Bug<input type="radio" id="contactChoice1" name="tipo" value="bug"/>
		Truco<input type="radio" id="contactChoice2" name="tipo" value="truco"/>
		</p>
        
      
        <p> SELECCIONAR JUEGO </p>
        <select name="juego">
        	<option value=""></option>
        	<ul>
			{{#videojuegos}}
			<option value="{{nombreVideojuego}}">{{nombreVideojuego}}</option> 
			{{/videojuegos}}
		</ul>
		</select>
		
		
		<br>
		
		<input type = 'submit' name = 'boton' value='Publicar'/>
		
	</form>
	
	<form method='POST' action = "nuevoVideojuego">
		<input type ="hidden" name="_csrf" value={{token}} />
		<input type = 'submit' name = 'nuevoJuego' value='Añadir Juego'/>
	</form>
	

</body>
</html>