<html>

<head>
	<title>CHEAT HUB</title>
</head>

<body>
	
	<h1>CHEATHUB</h1>
	<hr>
	{{#notificacion}}
	<h5>{{notificacion}}</h5>
	{{/notificacion}}
	<form action = "user">
		<p> Introduzca su nombre o id:</p>
		<input type = 'text' name = 'userName'/>
		<p> Introduzca su contraseña:</p>
		<input type = 'password' name = 'password'/>
		<br>
		
		<input type = 'submit' name = 'boton' value='Iniciar sesión'/>
	</form>
	<hr>
	
	<form action = "newAccount">
		<input type = 'submit' name = 'boton' value='Crear cuenta'/>
	</form>

</body>
</html>